@import url(style.css);

@media (min-width:320px) and (max-width:480px) {

    /* ****nav*** */
    /* ***logo** */
    .logo {
        justify-content: flex-start;
        width: 30%;
    }

    .logo__span {
        font-size: 1.2rem;
    }

    .logo__p {
        font-size: 0.7rem;
    }

    .logo__img {
        width: 9rem;
    }

    /* ***nav__link*** */
    .nav__menu {
        width: 60%;
    }

    .nav__link {
        font-size: 1.2rem;
    }

    /* **HEROOO** */
    .hero {
        flex-direction: column;
        gap: 1rem;
    }

    .hero__text {
        width: 80%;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__p {
        font-size: 1.5rem;
    }


    .hero__image {
        width: 80%;
        height: 40%;
    }

    .hero_img {}

    /* ***Boton** */
    .btn {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }
}